body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.background-image {
    width: 100%;
    height: auto;
}

.lottery-buttons {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    gap: 10px;
}

.prize-btn {
    background: url('./static/button.webp') no-repeat center center;
    background-size: contain;
    border: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    width: 160px; /* 根据需要调整宽度 */
    height: 60px; /* 根据需要调整高度 */
    color: #333; /* 调整文字颜色 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.prize-btn img {
    width: 20px;
    height: 20px;
}

.prize-btn div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 确保在最前面 */
}

#videoPlayer {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

video::-webkit-media-controls-enclosure{ 
    display: none;
}

.result-display {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 2000; /* 确保在最前面 */
    text-align: center;
    animation: fadeIn 1s;
}

.result-display #resultContent {
    position: relative;
}

.splash-image {
    width: 50%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.result-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    animation: popIn 1s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes popIn {
    0% { transform: scale(0) translate(-50%, -50%); }
    100% { transform: scale(1) translate(-50%, -50%); }
}

.stars-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
}

.star {
    width: 50px;
    height: 50px;
    background: url('./static/star.png') no-repeat center center;
    background-size: contain;
    opacity: 0;
}

@keyframes starFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: white;
}
